n8n.json
{
  "name": "Landing Page Analyzer Demo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "analyze-landing-page",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "6c82bd97-043f-45ff-a589-0b91505a2d64"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url",
              "value": "={{ $node['Webhook'].json.query.url || 'https://example.com' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-url",
      "name": "Extract URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Extract URL'].json.url }}",
              "operation": "contains",
              "value2": "http"
            }
          ]
        }
      },
      "id": "check-url",
      "name": "Check URL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $node['Extract URL'].json.url }}",
        "options": {
          "timeout": 10000,
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          }
        }
      },
      "id": "fetch-content",
      "name": "Fetch Page Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extract key information from HTML content\nconst html = $input.first().json.data || '';\nconst url = $node['Extract URL'].json.url;\n\n// Simple HTML parsing to extract title and meta description\nconst titleMatch = html.match(/<title[^>]*>([^<]+)<\\/title>/i);\nconst title = titleMatch ? titleMatch[1].trim() : 'No title found';\n\nconst descMatch = html.match(/<meta[^>]*name=[\"']description[\"'][^>]*content=[\"']([^\"']+)[\"']/i);\nconst description = descMatch ? descMatch[1].trim() : 'No description found';\n\n// Count various elements\nconst headingCount = (html.match(/<h[1-6][^>]*>/gi) || []).length;\nconst linkCount = (html.match(/<a[^>]*href=/gi) || []).length;\nconst imageCount = (html.match(/<img[^>]*src=/gi) || []).length;\nconst formCount = (html.match(/<form[^>]*>/gi) || []).length;\n\n// Check for common CTA patterns\nconst ctaPatterns = ['sign up', 'get started', 'learn more', 'contact', 'buy now', 'subscribe', 'download'];\nconst hasStrongCTA = ctaPatterns.some(pattern => \n  html.toLowerCase().includes(pattern)\n);\n\n// Generate analysis based on extracted data\nlet score = 5; // Base score\nlet strengths = [];\nlet improvements = [];\n\n// Scoring logic\nif (title && title !== 'No title found' && title.length > 10) {\n  score += 1;\n  strengths.push('Clear page title');\n}\n\nif (description && description !== 'No description found' && description.length > 50) {\n  score += 1;\n  strengths.push('Descriptive meta description');\n}\n\nif (headingCount >= 3) {\n  score += 1;\n  strengths.push('Good content structure with headings');\n} else {\n  improvements.push('Add more headings to improve content hierarchy');\n}\n\nif (hasStrongCTA) {\n  score += 1;\n  strengths.push('Clear call-to-action elements');\n} else {\n  improvements.push('Strengthen call-to-action messaging');\n}\n\nif (imageCount > 0) {\n  score += 0.5;\n  strengths.push('Visual elements present');\n}\n\nif (linkCount > 5) {\n  score += 0.5;\n  strengths.push('Good internal/external linking');\n}\n\n// Cap the score at 10\nscore = Math.min(score, 10);\n\n// Default improvements if none found\nif (improvements.length === 0) {\n  improvements = [\n    'Consider adding social proof or testimonials',\n    'Optimize page loading speed',\n    'Enhance mobile responsiveness'\n  ];\n}\n\n// Format the analysis\nconst analysis = `🎯 **Landing Page Analysis Results**\n\n📊 **Overall Score: ${score}/10**\n\n✅ **Key Strengths:**\n${strengths.map(s => `• ${s}`).join('\\n')}\n\n💡 **Top Improvement Recommendations:**\n${improvements.slice(0, 3).map(i => `• ${i}`).join('\\n')}\n\n📄 **Technical Details:**\n• Page Title: \"${title.substring(0, 60)}${title.length > 60 ? '...' : ''}\"\n• Meta Description: ${description.length > 10 ? 'Present' : 'Missing'}\n• Headings: ${headingCount} found\n• Images: ${imageCount} found\n• Links: ${linkCount} found\n\n🎨 **Call-to-Action Assessment:**\n${hasStrongCTA ? '✅ Strong CTA elements detected' : '⚠️ CTA could be more prominent'}\n\n*This analysis demonstrates our AI's ability to evaluate landing pages for conversion optimization and technical SEO factors.*`;\n\nreturn [{\n  json: {\n    analysis: analysis,\n    score: score,\n    url: url,\n    title: title,\n    description: description,\n    metrics: {\n      headings: headingCount,\n      links: linkCount,\n      images: imageCount,\n      forms: formCount,\n      hasStrongCTA: hasStrongCTA\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "analyze-content",
      "name": "Analyze Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "analysis",
              "value": "⚠️ **Invalid URL Provided**\n\n🔍 **Analysis Results:**\n• Please provide a valid URL starting with http:// or https://\n• Example: https://example.com\n\n💡 **Demo Suggestion:**\nTry analyzing popular websites like:\n• https://stripe.com (excellent design)\n• https://airbnb.com (great UX)\n• https://apple.com (premium feel)\n\n*This demonstrates our AI's input validation and error handling capabilities.*"
            },
            {
              "name": "score",
              "value": "0"
            },
            {
              "name": "url",
              "value": "={{ $node['Extract URL'].json.url }}"
            },
            {
              "name": "error",
              "value": "Invalid URL format"
            }
          ]
        },
        "options": {}
      },
      "id": "invalid-url-response",
      "name": "Invalid URL Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "analysis",
              "value": "🚫 **Unable to Fetch Page Content**\n\n⚠️ **Analysis Results:**\n• The website might be blocking automated requests\n• The URL might be temporarily unavailable\n• There could be network connectivity issues\n\n🎯 **Fallback Demo Analysis:**\n📊 **Score: 6.5/10** (estimated based on URL pattern)\n\n✅ **Likely Strengths:**\n• Professional domain structure\n• HTTPS security enabled\n• Accessible URL format\n\n💡 **General Recommendations:**\n• Ensure fast page loading speeds\n• Implement responsive design\n• Add clear call-to-action elements\n• Include social proof and testimonials\n\n*This demonstrates our AI's resilience and ability to provide value even when facing technical limitations.*"
            },
            {
              "name": "score",
              "value": "6.5"
            },
            {
              "name": "url",
              "value": "={{ $node['Extract URL'].json.url }}"
            },
            {
              "name": "status",
              "value": "fallback_analysis"
            }
          ]
        },
        "options": {}
      },
      "id": "fallback-analysis",
      "name": "Fallback Analysis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1120, 340]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"text\": $json.analysis, \"score\": $json.score, \"url\": $json.url, \"timestamp\": $json.timestamp || new Date().toISOString() } }}"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract URL": {
      "main": [
        [
          {
            "node": "Check URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check URL": {
      "main": [
        [
          {
            "node": "Fetch Page Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid URL Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page Content": {
      "main": [
        [
          {
            "node": "Analyze Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Content": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid URL Response": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Analysis": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page Content": {
      "main": [
        [],
        [
          {
            "node": "Fallback Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "landing-page-analyzer",
  "meta": {
    "instanceId": "your-instance-id"
  },
  "tags": []
}